<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Favorites</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homestyle.css}">
</head>
<body>
<div class="area">
    <nav class="main-menu">
        <ul>
            <li><a th:href="@{/home/recipient}"><i class="fa fa-home fa-2x"></i><span class="nav-text">Home</span></a></li>
            <li><a th:href="@{/recipientprofile}"><i class="fa fa-user fa-2x"></i><span class="nav-text">Profile</span></a></li>
            <li><a th:href="@{/messages/{userType}/{id}(userType=${user.userType}, id=${user.id})}"><i class="fa fa-envelope fa-2x"></i><span class="nav-text">Messages</span></a></li>
            <li><a th:href="@{/recipient/favorites}"><i class="fa fa-star fa-2x"></i><span class="nav-text">Favorite</span></a></li>
            <li><a th:href="@{${userType == 'donor' ? '/match/donor/matches' : '/match/recipient/matches'}}"><i class="fa fa-check fa-2x"></i><span class="nav-text">Matches</span></a></li>
            <li><a th:href="@{/bookings/recipient}"><i class="fa fa-book"></i><span class="nav-text">Booking</span></a></li>
        </ul>
        <ul class="logout">
            <li><a href="#"><i class="fa fa-power-off fa-2x"></i><span class="nav-text">Logout</span></a></li>
        </ul>
    </nav>

    <main>
        <div class="container">
            <header>
                <h1>Your Favorite Donors</h1>
            </header>

            <div id="favorites-list" th:if="${favorites != null && favorites.size() > 0}">
                <div class="donor-cards">
                    <div class="donor-card" th:each="profile : ${favorites}">
                        <img th:src="@{${profile.imagePath}}" alt="Donor Image" class="donor-image"/>
                        <div class="donor-info">
                            <p><strong>Eye Color:</strong> <span th:text="${profile.eyeColor}"></span></p>
                            <p><strong>Hair Color:</strong> <span th:text="${profile.hairColor}"></span></p>
                            <p><strong>Race:</strong> <span th:text="${profile.race}"></span></p>
                            <p><strong>Blood Type:</strong> <span th:text="${profile.bloodType}"></span></p>
                            <p><strong>Donor Type:</strong> <span th:text="${profile.donorType}"></span></p>
                        </div>
                        <button th:onclick="'location.href=\'/match/donor/approveMatch?donorId=' + ${user.id} + '&recipientId=' + ${profile.recipientProfileId} + '\''">Approve Match</button>
                    </div>
                </div>
            </div>

            <div th:if="${favorites == null || favorites.size() == 0}">
                <p>No favorites found.</p>
            </div>
        </div>
    </main>
</div>

<footer>
    <p>Alexandra, Guðrún, Silja og Þrándur.</p>
</footer>

</body>
</html>