<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Favorites</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homestyle.css}">
</head>
<body>
<div class="area">
    <nav class="main-menu">
        <ul>
            <li><a th:href="@{/recipientprofile}"><i class="fa fa-user fa-2x"></i><span class="nav-text">Profile</span></a></li>
            <li><a href="#"><i class="fa fa-envelope fa-2x"></i><span class="nav-text">Message</span></a></li>
            <li><a th:href="@{/favorites}"><i class="fa fa-star fa-2x"></i><span class="nav-text">Favorite</span></a></li>
            <li><a href="#"><i class="fa fa-check fa-2x"></i><span class="nav-text">Match</span></a></li>
            <li><a href="#"><i class="fa fa-book fa-2x"></i><span class="nav-text">Resource</span></a></li>
        </ul>
        <ul class="logout">
            <li><a href="#"><i class="fa fa-power-off fa-2x"></i><span class="nav-text">Logout</span></a></li>
        </ul>
    </nav>
    <main>
        <div class="container">
            <header>
                <h1>Your Favorite Donors</h1>
            </header>
            <div id="favorites-list">
                <ul>
                    <li th:if="${favorites.size() == 0}">
                        <p>No favorites found.</p>
                    </li>
                    <li th:each="favorite : ${favorites}">
                        Donor ID: <span th:text="${favorite}">Donor ID</span>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</div>
<footer>
    <p>Alexandra, Guðrún, Silja og Þrándur.</p>
</footer>
</body>
</html>