<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/homestyle.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>

<div class="area">
    <nav class="main-menu">
        <ul>
            <li><a href="#"><i class="fa fa-user fa-2x"></i><span class="nav-text">Profile</span></a></li>
            <li><a href="#"><i class="fa fa-heart fa-2x"></i><span class="nav-text">Donors/Recipients</span></a></li>
            <li><a href="#"><i class="fa fa-envelope fa-2x"></i><span class="nav-text">Message</span></a></li>
            <li><a href="#"><i class="fa fa-star fa-2x"></i><span class="nav-text">Favorite</span></a></li>
            <li><a href="#"><i class="fa fa-check fa-2x"></i><span class="nav-text">Match</span></a></li>
            <li><a href="#"><i class="fa fa-book fa-2x"></i><span class="nav-text">Resource</span></a></li>
        </ul>
        <ul class="logout">
            <li><a href="#"><i class="fa fa-power-off fa-2x"></i><span class="nav-text">Logout</span></a></li>
        </ul>
    </nav>

    <main>
        <div class="container">
            <header>
                <h1>Welcome!</h1>
            </header>
            <div class="cover">
                <div class="search-bar">
                    <input type="text" placeholder="Search profiles..." />
                </div>
                <div class="buttons">
                    <button class="follow">Date Added</button>
                    <button class="follow">Most Popular</button>
                </div>
            </div>
        </div>
    </main>
</div>

<footer>
    <p>Alexandra, Guðrún, Silja og Þrándur.</p>
</footer>

</body>
</html>