<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body class="align">
<div class="grid">
    <h1>Login to your account</h1>

    <div th:if="${message}" class="form__message">
        <p th:text="${message}"></p>
    </div>

    <form th:action="@{/users/login}" th:object="${user}" method="post" class="form login">
        <div class="form__field">
            <label for="login__username" class="form__label">Username</label>
            <input type="text" th:field="*{username}" autocomplete="username" id="login__username" placeholder="Username" required>
        </div>

        <div class="form__field">
            <label for="login__password" class="form__label">Password</label>
            <input type="password" th:field="*{password}" id="login__password" placeholder="Password" required>
        </div>

        <div class="form__field">
            <input type="submit" value="Sign In">
        </div>
    </form>

    <p class="text--center">Not a member? <a th:href="@{/users/register}">Sign up now</a></p>
</div>
</body>
</html>