<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="align">
<div class="grid">
    <h1>Register</h1>
    <form action="#" method="post" class="form login">
        <div class="form__field">
            <input autocomplete="username" id="register__username" type="text" name="username" class="form__input" placeholder="Username" required>
        </div>
        <div class="form__field">
            <input autocomplete="email" id="register__email" type="email" name="email" class="form__input" placeholder="Email" required>
        </div>
        <div class="form__field">
            <input id="register__password" type="password" name="password" class="form__input" placeholder="Password" required>
        </div>
        <div class="form__field">
            <input type="submit" value="Register">
        </div>
    </form>
    <p class="text--center">Already a member? <a href="/login">Sign in</a></p>
</div>
</body>
</html>