<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body class="align">
<div class="grid">
    <h1>Signup for an account</h1>

    <div th:if="${message}" class="form__message">
        <p th:text="${message}"></p>
    </div>

    <form th:action="@{/users/register}" th:object="${user}" method="post" class="form signup">
        <div class="form__field">
            <input type="text" th:field="*{username}" autocomplete="username" id="register__username" placeholder="Username" required>
        </div>
        <div class="form__field">
            <input type="email" th:field="*{email}" autocomplete="email" id="register__email" placeholder="Email" required>
        </div>
        <div class="form__field">
            <input type="password" th:field="*{password}" id="register__password" placeholder="Password" required>
        </div>
        <div class="form__field">
            <input type="password" th:field="*{confirmPassword}" id="register__confirmPassword" placeholder="Confirm Password" required>
        </div>
        <div class="form__field">
            <label for="userType">Register as:</label>
            <select th:field="*{userType}" id="userType" required>
                <option value="">--Select--</option>
                <option value="donor">Donor</option>
                <option value="recipient">Recipient</option>
            </select>
        </div>
        <div class="form__field">
            <button type="submit">Register</button>
        </div>
    </form>
    <p class="text--center">Already a member? <a th:href="@{/users/login}">Sign in</a></p>
</div>
</body>
</html>