<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="align">
<div class="grid">
    <h1>Register</h1>
    <form id="registerForm">
        <div class="form__field">
            <input autocomplete="username" id="register__username" type="text" name="username" class="form__input" placeholder="Username" required>
        </div>
        <div class="form__field">
            <input autocomplete="email" id="register__email" type="email" name="email" class="form__input" placeholder="Email" required>
        </div>
        <div class="form__field">
            <input id="register__password" type="password" name="password" class="form__input" placeholder="Password" required>
        </div>
        <div class="form__field">
            <input id="register__confirmPassword" type="password" name="confirmPassword" class="form__input" placeholder="Confirm Password" required>
        </div>

        <div class="form__field">
            <label for="donorRecipient">Register as:</label>
            <select id="donorRecipient" name="donorRecipient" required>
                <option value="">--Select--</option>
                <option value="donor">Donor</option>
                <option value="recipient">Recipient</option>
            </select>
        </div>

        <div class="form__field">
            <button type="button" id="submit">Register</button>
        </div>
    </form>
    <p class="text--center">Already a member? <a href="/login">Sign in</a></p>
</div>
<script src="/js/register.js" defer></script>
</body>
</html>